.atas{
    width: 9vw;
    height: 9vw;
}
.logo{
    float: left;
    margin-right: 3vw;
}
.judul{
    margin-left: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.top-title{
    font-size: 2.4vw;
}
.top-title-2{
    margin-top: -1.9vw;
    font-size: 1.8vw;
}
.top-title-3{
    margin-top: -1vw;
    font-size: 1.4vw;
}
.navbarberanda{
    width: 100%;
    margin-top: 2.5vw;
    min-height: 4vw;
    background-color: 	#ffbf00;
}

.kotak_login{
	border-radius: 5%;
	width: 350px;
	background: #ffbf00;
	/*meletakkan form ke tengah*/
	margin: 50px auto;
	padding: 30px 20px;    
}
.login_label{
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 30px;
}
.label_l_password{
	padding-top: 10px;
	color: darkslategrey;
	text-align: center;
	font-size: medium;
}
.wrapjudul{
    margin-top: 1.4vw;
}
.wrapbar{
    padding-top: 0.8vw;
}
.bartitle{
	width: 350px;
	background: #ffbf00;
	/*meletakkan form ke tengah*/
	margin: -0.5vw auto;
    padding: 0px 8.5vw;  
    font-size: 1.9vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.conbar{
    float: left;
    font-size: 1.6vw ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bartitle-2{
	width: 9vw;
    background: #ffbf00;
    float: right;
    font-size: 1.6vw;
    margin-top: -0.85vw;
    padding-top: 0.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bartitle-2 a{
    text-decoration: none;
    color: black;
}
.bartitle a{
    text-decoration: none;
    color: black;
}
.conbar a{
    text-decoration: none;
    color: black;
}