.tabled{
}

.nama{
    float: left;
    width: 300px;
    height: 40px;
}

.emaildosen{
    float: left;
    width: 300px;
    height: 40px;
}

.statusdosen{
    float: left;
    width: 200px;
    height: 40px;

}

.hapusdosen{
    height: 40px;
}

.editdosen{
    float: left;
    width: 70px;
    height: 40px;

}

.tambahdosen .btn{
    color:black;
}

#status{
    width: 600px;
    height: 35px;
}
#status option{
    width: 550px;
    height: 35px;
}