            /* .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .title {
                font-size: 44px;
                margin-top:-5vw;
            }
*/
            
    .bg {
      background: url('/assets/image/jbtron.png') no-repeat center center;
      position: fixed;
      width: 100%;
      min-height: 100%; /*same height as jumbotron */
      top:0;
      left:0;
      z-index: -1;
    }

    .affix{
        background: transparent;
        font-family: 'Capriola', sans-serif;
    }
    p.lead{
        margin-top: -2vh;
        color:white;
        font-family: 'Capriola', sans-serif;
    }
    .jumbo {
    margin:20px;
    height: 10px;
    color: white ;
    background:transparent;
    top:0;
    font-family: 'Capriola', sans-serif;
    }

    #main {
      margin-top:250px;
      position:relative;
      background:#fff;
    }

    .keterangan{
        background:transparent;
        font-family: 'Capriola', sans-serif;
        width: 500px;
        height: 500px;
        opacity: 100%;
        margin-top: 150px;
        border-radius: 10%;
    }
    .logoo{
        margin-bottom: -0px;
        padding-top: 50px;
    }
    img.centerr{
        display: block;
        margin: 0 auto;
    }
    .centerr{
        height:7vw;
        width:7vw;
    }

    .deskripsi{
        padding-top: 7vh;
        display: block;
        margin: 0 auto;
        text-align: justify;
        font-size: large;
        float: left;
        color:white;
        line-height: 210%;
    }

    .login{
        margin-top: 10vh;
        float: left;
    }    
    .daftar{
        margin-bottom: 1vh;
        float: right;
    }    
    .dosen{
        margin-top: -13vh;
        margin-right: 4vw;
        float: right;
    }

    .isi{
        margin-top: 18vh;
        color:white;
        font-family:'Capriola',sans-serif;
    }   
    
    .bungkus{
        margin-top:25vh;
        font-family:'Capriola',sans-serif;
        color:white;
    }
    #judulatas{
        margin-left: 3vw;
        margin-bottom: 1vw;
        margin-top: -2vw;
        font-size: 30px;
        display: block;
    }  

    a.button1{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Capriola',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        }
    a.button1:hover{
        text-decoration:none;
        color:#000000;
        background-color:#FFFFFF;
        }
    @media all and (max-width:30em){a.button1{
        display:block;
        margin:0.4em auto;
         };
    }

    a.button2{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #0080ff;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Capriola',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        background-color:#0080ff;
        }
    a.button2:hover{
        text-decoration:none;
        color:#000000;
        background-color:#FFFFFF;
        }
    @media all and (max-width:30em){a.button2{
        display:block;
        margin:0.4em auto;
         }
    }  