            /* .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif; 
                font-weight: 100;
                height: 100vh;
                margin-top: 50vh;
                margin-right:-10vw;
            }

            .title {
                font-size: 44px;
                margin-top:-5vw;
            }

            .judul{
                font-size: smaller;
            }
            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif; 
            }

            .m-b-md {
                margin-bottom: 500px;
            }
            .btn a{
                text-decoration:none;
                color:black;
            }
            .btn a:hover{
                text-decoration:none;
                color:black;
            } */
            
    .bg {
      background: url('/assets/image/jbtron.png') no-repeat center center;
      position: fixed;
      width: 100%;
      min-height: 100%; /*same height as jumbotron */
      top:0;
      left:0;
      z-index: -1;
    }

    .affix{
        background: transparent;
    }

    .jumbo {
    margin:20px;
    height: 10px;
    color: white ;
    background:transparent;
    top:0;
    font-family: 'Capriola', sans-serif;
    }

    #main {
      margin-top:250px;
      position:relative;
      background:#fff;
    }

    .keterangan{
        background:transparent;
        font-family: 'Capriola', sans-serif;
        width: 500px;
        height: 500px;
        opacity: 100%;
        margin-top: 150px;
        border-radius: 10%;
    }    
    .keterangana{
        font-family: 'Capriola', sans-serif;
        width: 500px;
        height: 500px;
        opacity: 10%;
        margin-top: 150px;
        border-radius: 10%;
    }
    .logo{
        margin-bottom: 10px;
    }
    img.center{
        display: block;
        margin: 0 auto;
    }
    .center{
        height:7vw;
        width:7vw;
    }

    .deskripsi{
        padding-top: 7vh;
        display: block;
        margin: 0 auto;
        text-align: justify;
    }

    .login{
        margin-top: 10vh;
    }    
    .daftar{
        margin-bottom: 1vh;
        float: right;
    }    
    .dosen{
        margin-top: -10vh;
        margin-right: 4vw;
        float: right;
    }

    a.button1{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Capriola',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        }
    a.button1:hover{
        text-decoration:none;
        color:#000000;
        background-color:#FFFFFF;
        }
    @media all and (max-width:30em){a.button1{
        display:block;
        margin:0.4em auto;
         };
    }

    a.button2{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #0080ff;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Capriola',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        background-color:#0080ff;
        }
    a.button2:hover{
        text-decoration:none;
        color:#000000;
        background-color:#FFFFFF;
        }
    @media all and (max-width:30em){a.button2{
        display:block;
        margin:0.4em auto;
         }
    }    
    